@font-face {
    font-family: 'Iceberg';
    src: url(font/Iceberg-Regular.woff2) format('woff2'),
        url(font/Iceberg-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: Iceberg, serif;
}

body {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mid {
    width: min(95%, 1800px);
    height: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    border: 2px solid red;
    gap: 4px;
}

.sidebar {
    width: 50%;
    margin: 4px;
    border: 2px solid green;
    padding-left: 20px;
    overflow-x: auto;
    overflow-y: auto;
}

.sidebar>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.sidebar>div>p {
    font-size: 1.2rem;
}


.projectList li ul {
    padding-left: 12px;
}

.projectList>li>div>p {
    font-size: 1.1rem;
}

.projectContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.projectList li ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.projectList li ul li div div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.projectList li ul li div div p:first-child {
    width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList li ul li div div p:nth-child(2) {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList li ul li div div p:nth-child(3) {
    width: 14ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList li ul li {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.todoControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.todoControls select {

}

.todoControls input {
    width: 20px;
    height: 20px;
}


.main {
    width: 50%;
    border: 2px solid blue;
    overflow-y: auto;
    margin: 4px;
}


.creator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid purple;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
    align-items: flex-start;
}

.mainTodo {
    border: 2px solid orange;
    width: 15ch;
    padding: 0.5em;
}

.mainTodo h3 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainTodo h4 {
    text-align: center;
}

.projectContainer button,
.todoControls button {
    background: url(./img/delete.svg);
    width: 22px;
    height: 22px;
    border: transparent;
}

.creator>button {
    background: url(./img/plus.svg);
    width: 42px;
    height: 42px;
    border: transparent;
}

.sidebar>div>button {
    background: url(./img/plus.svg);
    width: 22px;
    height: 22px;
    border: transparent;
}

.critical {
    color: red;
}

.high {
    color: orangered;
}

.moderate {
    color: orange;
}

.low {
    color: green;
}